@font-face {
	font-family: SourceHanSerifCN;
	font-style: normal;
	src: url('./assets/font/SourceHanSerifCN-Heavy.otf') format('truetype');
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scrollbar-width: none;
}

body {
	// prettier-ignore
	font-family: SourceHanSerifCN, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
	color: rgb(30, 41, 59);
	background-image: linear-gradient(145deg, rgba(252, 200, 57, 0.5), rgb(204, 73, 34));
}

.container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	padding: 2rem 5rem 0 5rem;
	overflow: hidden;
	text-align: center;
	background-image: url('./assets/imgs/620f8c58157617534953c5f7a12f16bd.jpg');
	background-repeat: no-repeat;
	background-size: cover;

	.tab-buttons {
		display: flex;
		flex-shrink: 0;
		column-gap: 1rem;
		justify-content: center;
		margin-bottom: 1.5rem;

		.tab-button {
			@include font-size(text-3xl);
			padding: 0.75rem 3rem;
			font-family: inherit;
			font-weight: 600;
			color: white;
			cursor: pointer;
			background-color: rgb(204, 73, 34);
			border: none;
			border-radius: 1rem;

			&.active {
				color: rgb(125, 29, 16);
				background-color: rgb(252, 200, 57);
			}
		}
	}

	.content-area {
		display: flex;
		flex: 1;
		flex-direction: column;
		min-width: 0;
		min-height: 0;
		overflow: hidden;

		.section {
			height: 100%;

			&-header {
				flex-shrink: 0;
				margin-bottom: 1.5rem;
				color: white;

				.section-title {
					@include font-size(text-5xl);
					margin-bottom: 1rem;
					font-weight: 800;
					text-shadow: 0 0 1px rgba(164, 27, 27, 0.5);
				}

				.section-subtitle {
					@include font-size(text-3xl);
					font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
				}
			}

			.card {
				display: flex;
				flex-direction: column;
				row-gap: 1.25rem;
				align-items: center;
				justify-content: center;

				.button {
					@include font-size(text-3xl);
					width: fit-content;
					padding: 0.5rem 3rem;
					font-family: inherit;
					font-weight: 800;
					color: rgb(215, 57, 11);
					letter-spacing: 10px;
					cursor: pointer;
					background: linear-gradient(180deg, rgb(255, 204, 118) 0%, rgb(255, 255, 255) 100%);
					border: none;
					border: 0.06rem solid rgb(255, 203, 117);
					border-radius: 999px;
					box-shadow: 0 0.25rem 0.5rem 0 rgb(193, 60, 11);

					&.again {
						@include font-size(text-2xl);
						padding: 0.75rem 2.5rem;
						font-weight: 600;
						color: white;
						background: rgb(131, 25, 14);
						border: none;
					}
				}
			}
		}
	}
}
